Body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 50px;
}
input {
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border-width: 2px;
    border-radius: 6px;
}
openingstijden {
    font-size: 20px;
    text_align: center;
}
button {
    width: 100px
    height: 20px
    font-size: 12px
}
