<!DOCTYPE html>
<html>
  <head>
    <title>Reserveren restaurant</title>
    <link rel = "stylesheet" href = "/static/style.css">
  </head>
  <body>
    <h1>Reserveren</h1>
    <form action="/signup" method = "POST">
      <input type = text name = "name" placeholder = "Naam">
      <input type = text name = "email" placeholder = "Email">
      <input type = text name = "Date" placeholder = "Datum">
      <input type = text name = "Persons" placeholder = "Aantal personen">
      <button id = Rerserve type = "submit">reserveer</button>
      <div id = "openingstijden">
    </form>
    <p>Openingstijden: Maandag t/m Vrijdag van 17:00 tot 22:00 en op Zaterdag en Zondag van 17:00 tot 23:30</p>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
